/* ========================================
   VIDEO
======================================== */

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* Aspect ratio 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 800px;
  margin: 2rem auto;
  border-radius: 14px;
  /* 🔥 bordes redondeados */
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  /* refuerzo visual */
}

/* ========================================
   CONTENEDOR DE IMÁGENES
======================================== */

#contenedor-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

#contenedor-imagenes img {
  width: 45%;
  border-radius: 10px;
}


/* ========================================
   RESPONSIVE
======================================== */

@media (max-width: 768px) {
  #contenedor-imagenes {
    flex-direction: column;
  }

  #contenedor-imagenes img {
    width: 90%;
  }
}