/* ==============================
   CONTENEDOR DE IMAGEN
================================ */

#contenedor-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}

#contenedor-imagenes img {
  width: 45%;
  /* ⬅️ Imagen protagonista */
  max-width: 500px;
  /* evita desbordes grandes */
  height: auto;
  border-radius: 12px;
}


/* ==============================
   RESPONSIVE
================================ */

@media (max-width: 768px) {
  #contenedor-imagenes img {
    width: 90%;
    /* ⬅️ Grande y legible en móvil */
    max-width: none;
  }
}