# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Editores / IDEs
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp
*.swp

# =========================
# Variables de entorno
# =========================
.env
.env.local
.env.*.local